* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans 3', sans-serif;
}

header {
  height: 15rem;
  background-color: #001d37;
  color: #fff;
  padding: 8.6875rem 0;
}

.top-section {
  max-width: 66.625rem;
  margin: 0 auto;
  padding: 0 1rem;
}

button {
  color: #fff;
  text-decoration: none;
  padding: 0.75rem 1.5625rem;
  border-radius: 1.5rem;
  font-weight: 600;
}

.view-btn {
  background-color: #475aff;
  margin: 2rem 0;
}

.manage-btn {
  background-color: transparent;
  border-color: #fff;
  margin: 2rem 1rem;
}
